[Desktop Entry]
Encoding=UTF-8
Name=BlackCoin
Comment=BlackCoin P2P Cryptocurrency
Comment[fr]=BlackCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BlackCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/blackcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/blackcoin;
Categories=Office;
